<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'postgres_commands' %}">Postgres Commands</a>
    <a href="{% url 'django_commands' %}">Django Commands</a>
    <a href="{% url 'git_commands' %}"> Git Commands</a>
    <h1>Welcome to the Home Page!</h1>
    <p>This is a simple Django application.</p> 
</body>
</html>